// Primary Colors
$primary-red: #DA291C;
$primary-blue-gray: #707179;
$primary-anthracite: #545C64;
$primary-black: #000000;

// Secondary Colors
$secondary-white: #FFFFFF;
$secondary-light-gray: #EAEAEA;
$secondary-gray: #A0A1A2;
$secondary-dark-gray: #282828;
